body {
    margin: 0px;
  }
  .home_container {
    position: relative;
    height: 100%;
  }
  .sidebar {
    width: 22%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    position: fixed;
    padding-top: 20px;
    font-family: 'Oswald', sans-serif;
  }
  .sidebar img {
    width: 100px;
    border-radius: 100%;
    border: 2px solid #e5e5e5;
  }
  .sidebar h4 {
    color: #d1cfcf;
  }
  .container {
    background-image: url('assets/home_page_bg_2.jpeg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    margin-left: 22%;
    color: #fff;
    position: relative;
  }
  .container_mask {
    height: 100vh;
    /* opacity: 0.5; */
    background-color: rgba(24, 20, 20, 0.619);
  }
  .container .container_text {
    width: 100%;
    position: absolute;
    right: 0;
  }
  #text {
    list-style-type: none;
    text-align: center;
    padding: 0px; 
    position: absolute;
    width: 100%
  }
  #text li {
    padding: 10px;
    margin-top: -1px;
    text-align: left; 
    margin-left: 41%;
    font-family: Arial, Helvetica, sans-serif;
  }
  #text a {
    font-weight: bold;
    font-size: 20px;
    color: rgb(235, 229, 229);
    text-decoration: none;
    border-bottom: 3px solid rgb(233, 211, 10);
    font-family: 'Oswald', sans-serif;
  }
  .container .user_name {
    font-size: 70px;
    margin: 0px;
    padding-top: 80px;
    font-family: 'Oswald', sans-serif;
  }
  .container .user_role {
    color: rgb(110, 108, 108);
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
  }
  .container b{
      margin-left: 0em;
  }
  #nav {
    list-style-type: none;
    text-align: center;
    padding: 0px;
  }
  #nav li {
    position: relative;
    padding: 10px;
    border-bottom: 1px solid rgb(237, 236, 236);
    border-top: 1px solid rgb(237, 236, 236);
    margin-top: -1px;
    font-weight: bold;
  }
  #nav li.active {
    background-color: #f5f3f3;
  }
  li.active a:after {
    background-color: #f4c052;
    display: block;
    position: absolute;
    content: ' ';
    right: 0;
    bottom: 0;
    width: 3px;
    height: 100%;  
  }
  #nav a {
    color: black;
    text-decoration: none;
  }